@model VoucherWorld.Portal.Models.Manager.MvcOpenEndedAnswerModel

@{
    ViewBag.Title = "RouteAnswer";
}

<div class="EditBox" id="AnswerResult">
    <h2>Answers</h2>
    
    <fieldset>
        <p>
            <h3>Question</h3>
        </p>
        <p class="DeleteConfirmValue">@Model.Question</p>
        <table class="OpenEndedTable">
            <tr>
                <th class="FirstColumn">UserName</th>
                <th class="SecondColumn">Content</th>
            </tr>
            @foreach (var answerItem in Model.Answers)
            {
                <tr>
                    <td class="FirstColumn">@answerItem.NormalUser.UserName</td>
                    <td class="SecondColumn">@answerItem.Content</td>
                </tr>
            }
        </table>
        
    </fieldset>
</div>

