@model VoucherWorld.Portal.Models.Manager.MvcRouteListModel

@{
    ViewBag.Title = "RouteList";
}

<div>
    <div class="grid_4">
        @Html.Partial("_MerchantInfo", Model.Merchant)
    </div>
    <div class="grid_8">
        <div id="DashboardManagerInfo">

            <ul id="NavBar">
                <li><a href="/Manager/Dashboard">Dashboard</a></li>
                <li class="SelectedItem">Route List</li>
                <li><a href="/Manager/PlaceList">Place List</a></li>
            </ul>

            <h2>Route List</h2>

            <div class="LeftContent">
                
                <a id="CreateButton" href="/Manager/CreateRoute">Create new route</a>

                @foreach (var routeItem in Model.RouteList)
                {
                    @Html.Partial("_RouteListItem", routeItem)
                }
            </div>
        </div>
    </div>
</div>

